/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 30px;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

#apple-contenedor{
  position: relative;
}

#apple{
  width: 100%;
  padding: 50px;
  display: block;
  object-fit: cover;
  height: 700px;
}

/*
a;adir div con height para hacer margen

#section1{
  background-image: url("../images/apple-pie.jpg");
}

#title{
text-align:center;
font-size:40px;
padding-top:160px; usando calculo no tan recomendable
border -radios redondea la imagen
}*/

#title{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
color: rgb(255, 255, 255);
font-size: 75px;
}

#some-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 7px;

}

.recipe-info{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  margin-top: 10px;
}

.line{
  width: 1050px;
}